name: Docker CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'
        
    - name: Install Linter
      run: pip install flake8
      
    - name: Lint code with flake8
      run: |
        flake8 app.py --count --ignore=E501 --show-source --statistics

    - name: Build the Docker image
      run: docker build -t system-monitor:test .
      
    - name: Test the container
      run: |
        docker run -d -p 8000:8000 --name test-container system-monitor:test
        sleep 5
        curl http://localhost:8000 || exit 1